<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Articles</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th> Name</th>
        <th> Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${articles.empty}">
        <td colspan="2"> No articles</td>
    </tr>
    <tr th:each="article : ${articles}">
        <td><span th:text="${article.name}"> Name </span></td>
        <td><span th:text="${article.price}"> Price </span></td>
    </tr>
    </tbody>

</table>


</body>
</html>